<h2 class = "page-header">Update Claim Status</h2>
<form method = "post" action = "/users/reviewClaims">
  <div class = "form-group">
    <label>Claim ID</label>
    <input type = "text" class ="form-control" name ="claimId" placeholder = "Claim ID">
  </div>
  <div class = "form-group">
    <label>Claim ID</label>
    <input type = "text" class ="form-control" name ="status" placeholder = "Claim Status">
  </div>
  <button type ="submit" class="btn btn-default">Submit</button>
</form>