<h2 class = "page-header">Claims</h2>
{{#if errors}}
  {{#each errors}}
    <div class ="alert alert-danger">{{msg}}</div>
  {{/each}}
{{/if}}
<form method = "post" action = "/users/claims">
  <div class = "form-group">
    <label>First Name</label>
    <input type = "text" class ="form-control" placeholder ="First Name"
    name = "first_name">
  </div>
  <div class = "form-group">
    <label>Middle Initial</label>
    <input type = "text" class ="form-control" placeholder ="Middle intial(N/A if not applicable)"
    name = "middle_initial">
  </div>
  <div class = "form-group">
    <label>Last Name</label>
    <input type = "text" class ="form-control" placeholder ="last Name"
    name = "last_name">
  </div>
  <div class = "form-group">
    <label>SSN</label>
    <input type = "text" class ="form-control" placeholder ="XXX-XX-XXXX"
    name = "SSN">
  </div>
  <div id="Gender">
    <label>Gender:&nbsp&nbsp&nbsp</label>
    <input type="radio" id="g1" name="Gender" value="Male"> Male
    <input type="radio" id="g2" name="Gender" value="Female"> Female
  </div>
  <div class = "form-group">
    <label>Enter the language you prefer to speak: </label>
    <input type = "text" class ="form-control" placeholder ="Speak language(N/A if not applicable)"
    name = "speak_language">
  </div> 
    <div class = "form-group">
    <label>Enter the language you prefer to write: </label>
    <input type = "text" class ="form-control" placeholder ="Write language(N/A if not applicable)"
    name = "write_language">
  </div>   
  <div class = "form-group">
    <label>Enter your date of birth</label>
    <input type = "text" class ="form-control" placeholder ="XX/XX/XXXX"
    name = "DOB">
  </div>
    <div class = "form-group">
    <label>Enter the name of the city you were born</label>
    <input type = "text" class ="form-control" placeholder ="City"
    name = "City">
  </div>
  <div id="publicRecord">
    <label>Was a public record of your birth made before you were age 5?:&nbsp&nbsp&nbsp</label>
    <input type="radio" id="pr1" name="publicRecord" value="Yes"> Yes
    <input type="radio" id="pr2" name="publicRecord" value="No"> No
    <input type="radio" id="pr3" name="publicRecord" value="Unknown"> Unknown
  </div>
  <div class = "form-group">
    <label>Enter the name of the state or Foriegn country you were born</label>
    <input type = "text" class ="form-control" placeholder ="State"
    name = "State">
  </div>
  <div id="religiousRecord">
    <label>Was a religious record of your birth made before you were age 5?&nbsp&nbsp&nbsp</label>
    <input type="radio" id="rr1" name="religiousRecord" value="Yes"> Yes
    <input type="radio" id="rr2" name="religiousRecord" value="No"> No
    <input type="radio" id="rr3" name="religiousRecord" value="Unknown"> Unknown
  </div>  
  <div id="usCitizen">
    <label>Are you a US citizen?&nbsp&nbsp&nbsp</label>
    <input type="radio" id="usc1" name="usCitizen" value="Yes"> Yes 
    <input type="radio" id="usc2" name="usCitizen" value="No"> No
  </div>
  <div id="Alien">
    <label>Are you an alien lawfully present in the US?&nbsp&nbsp&nbsp</label>
    <input type="radio" id="a1" name="Alien" value="Yes"> Yes 
    <input type="radio" id="a2" name="Alien" value="No"> No
  </div>  
  <div class = "form-group">
    <label>When were you lawfully admitted to the US?</label>
    <input type = "text" class ="form-control" placeholder ="XX/XX/XXXX(N/A if not applicable)"
    name = "admission_to_US">
  </div>
  <div class = "form-group">
    <label>Enter your name at birth if different from item(1)</label>
    <input type = "text" class ="form-control" placeholder ="Name at Birth(N/A if not applicable)"
    name = "Name_at_Birth">
  </div>
  <div id="otherNames">
    <label>Have you used any other names?&nbsp&nbsp&nbsp</label>
    <input type="radio" id="on1" name="otherNames" value="Yes"> Yes 
    <input type="radio" id="on2" name="otherNames" value="No"> No
  </div> 
  <div class = "form-group">
    <label>Other name used</label>
    <input type = "text" class ="form-control" placeholder ="Other Name(N/A if not applicable)"
    name = "Other_Name">
  </div>
  <div id="otherSSN">
    <label>Have you used any other Social Security numbers?&nbsp&nbsp&nbsp</label>
    <input type="radio" id="ossn1" name="otherSSN" value="Yes"> Yes 
    <input type="radio" id="ossn2" name="otherSSN" value="No"> No
  </div>     
  <div class = "form-group">
    <label>Enter Social Security numbers used</label>
    <input type = "text" class ="form-control" placeholder ="XXX-XX-XXXX(N/A if not applicable)"
    name = "Other_SSN">
  </div> 
  <div class = "form-group">
    <label>When do you believe your condition became severe enough to keep you from working 
    (even if you have never worked)?</label>
    <input type = "text" class ="form-control" placeholder ="XXX-XX-XXXX"
    name = "severity_date">
  </div>  
    <div id="personSSN">
    <label>Have you(or has someone on your behalf) ever filled an application for social security benefits, a period of dissability under Social Security, Supplemental Security Income, or hospital or medical insurance under Medicare?&nbsp&nbsp&nbsp</label>
    <input type="radio" id="pssn1" name="personSSN" value="Yes"> Yes 
    <input type="radio" id="pssn2" name="personSSN" value="No"> No
  </div> 
  <div class ="form-group">
    <label>Enter the name of the person on whose Social Security record you filled the other application</label>
    <input type ="text  " class="form-control"
    placeholder ="Enter N/A if not applicable" name = "person_SSN">
  </div>
  <button type ="submit" class="btn btn-default">Submit</button>
</form>
